#container {
    display: flex;
}

#canvas-container {
    position: relative;
}

#myCanvas {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#table-container {
    cursor: default;
}

table {
    border-collapse: collapse;
    margin-left: 40px;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
}